<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポイ活 | sit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="global-nav">
    <a href="{{ url_for('index') }}" class="{{ 'active' if request.path == url_for('index') else '' }}">ホーム</a>
    <a href="{{ url_for('apps') }}" class="{{ 'active' if request.path == url_for('apps') else '' }}">便利アプリ</a>
    <a href="{{ url_for('items') }}" class="{{ 'active' if request.path == url_for('items') else '' }}">商品</a>
    <a href="{{ url_for('poikatu') }}" class="{{ 'active' if request.path == url_for('poikatu') else '' }}">ポイ活</a>
</nav>

<h2>ポイ活</h2>

<div class="container">
        
        <div class="card-container">
            {% for item in apps %}
            <div class="card">
                <img src="{{ url_for('static', filename='images/' + item.img) }}" alt="{{ item.name }}">
                
                <h3>{{ item.name }}</h3>
                <p class="stars">{{ item.stars }}</p>
                <p class="desc">{{ item.desc }}</p>
                
                <a href="{{ item.site_url }}" class="btn">今すぐ始める</a>
            </div>
            {% endfor %}
        </div>

</body>
</html>